img#profilepic {
    border-radius: 50%;
}

span#name {
    font-family: cursive;
}

div#userinfo {
    width: 200px;
    height: 300px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

div#name {
    font-family: cursive;
    text-align: center;
    margin-top: 10px;
}

div#info {
    font-family: cursive;
    text-align: center;
    font-size: 12px;
}

div#Bio {
    display: table;
    margin-left: 20px;
    width: calc(100% - 230px);
    font-family: cursive;
    height: 300px;
    float: right;
    vertical-align: middle;
}

div#biotext {
    display: table-cell;
    vertical-align: middle;
}

div#userinfodiv {
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}