img#profilepic {
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 25px;
    width: 80%;
    height: 80%;
    transition: 0.5s;
}

span#name {
    font-family: cursive;
}

div#userinfo {
    width: 100%;
    height: 78%;
    display: inline-block;
    position: relative;
    /* padding-top: 25px; */
    /* padding-left: 25px; */
}

div#name {
    font-family: cursive;
    text-align: center;
    /* vertical-align: middle; */
    /* margin-top: 10px; */
    transition: 0.5s;
    /* right: 0px; */
}

div#info {
    font-family: cursive;
    text-align: center;
    font-size: 12px;
    pointer-events: all;
}

div#Bio {
    display: table;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 300px);
    font-family: cursive;
    height: 100%;
    float: right;
    vertical-align: middle;
    position: relative;
    pointer-events: none;
}

div#biotext {
    display: table-cell;
    vertical-align: middle;
    transition: 0.5s;
}

div#userinfodiv {
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* background: linear-gradient(to bottom right, lightgrey, grey); */
    height: 320px;
    /* position: relative; */
    display: inline-block;
    transition: 0.4s;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: white;
}

div#userinfodiv .shrink {}

div#userinfodiv.shrink {
    height: 100px;
    position: fixed;
    display: inline-block;
    transition: 0.5s;
}

div#userinfobox {
    width: 250px;
    height: 100%;
    float: left;
    position: absolute;
    pointer-events: none;
}

.shrink img#profilepic {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
}

.shrink div#name {
    width: calc(100% - 100px);
    position: absolute;
    float: right;
    right: 0px;
    bottom: 35px;
    /* display: inline-block; */
    transition: 0.5s;
}

.shrink div#userinfo {
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    /* float: left; */
    transition: 0.5s;
    /* position: absolute; */
}

.shrink div#info {
    width: 50%;
    display: none;
}

.shrink div#biotext {
    opacity: 0;
}

div#resume-start {
    width: 100%;
    height: 150%;
    top: 50px;
    position: relative;
    font-family: cursive;
    transition: top 0.5s;
}

.shrink~div#resume-start {
    top: 100px;
}

body {
    overflow: autp;
}

div#dummydiv {
    height: 320px;
    width: 90%;
    position: relative;
    transition: 0.5s;
}

.shrink~div#dummydiv {
    height: 100px;
}

.tabtitle {
    padding: 15px;
    background: #777;
    color: white;
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
}

.textcontent {
    padding-left: 15px;
    background: #f1f1f1;
    transition: 0.4s;
    max-height: 0;
}

.active~.textcontent {
    padding: 15px;
    transition: 0.5s;
}

.tabcontent {
    overflow: hidden;
    margin-top: 15px;
}

.box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background: skyblue; */
    margin-left: 20px;
    /* box-shadow: 2px 2px 4px 1px skyblue; */
    transition: 0.3s;
    margin-top: 10px;
    display: inline-block;
}

.active~.textcontent .box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: cadetblue;
    margin-left: 20px;
    box-shadow: 2px 2px 4px 1px cadetblue;
    color: white;
}

div#edutext {}

div#edutable {
    display: table;
    border-spacing: 14px;
    border-collapse: collapse;
}

div#edurowms {
    /* display: table-row; */
    /* border: 1px solid; */
    background: #f2f2f2;
    /* color: white; */
}

.edurow {
    display: table-row;
}

.educell {
    display: table-cell;
    padding: 10px;
    border-right: 1px solid lightyellow;
}

div#edurowheader {
    /* display: table-row; */
    color: white;
    background: cadetblue;
}

.educellheader {
    display: table-caption;
}

div#edurowbe {
    background: lightgrey;
}

.workheading {
    background: cadetblue;
    padding: 8px;
}

.workpos {
    font-size: 13px;
    background: cadetblue;
    padding: 8px;
    padding-top: 0;
}

.workyear {
    font-size: 12;
    background: cadetblue;
    padding: 8px;
    padding-top: 0;
}

.active~.textcontent .workexpactual+.workexpactual {
    /* margin: 14px; */
}

.workcontent {
    background: #f1f1f1;
    font-size: 13px;
    padding: 5px;
    color: black;
}

div#workexpcontent {
    color: white;
}

#certitext li {
    display: inline-block;
}

.workexpactual {
    margin: 0px;
    margin-left: 14px;
    transition: 0.4s;
}

div#projectscontent {
    color: white;
}

.expand {
    float: right;
    font-size: 26px;
    display: inline-block;
    position: relative;
    top: -10px;
    cursor: pointer;
}

.active .expand:after {
    content: "-";
}

.expand:after {
    content: "+";
}

.identifier {
    display: inline-block;
    border: 1px solid;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    /* opacity: 0.8; */
}

div#identifier {
    position: absolute;
    bottom: 15px;
    left: 0;
    pointer-events: all;
    transition: background 0.3s;
}

.identifier+.identifier {
    margin-left: 20px;
}

.identifier:hover {
    opacity: 1;
    cursor: pointer;
    background: #338487;
    transition: background 0.3s;
}

canvas {
    display: block;
    vertical-align: bottom;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  